@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}
:root {
  background: #000;
  --white-100: #FFFFFF;
  --dark-900: #09090A;
  --dark-600: #808090;
  --green-400: #00FF47;
  --green-white-100: #C3EFC0;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* my own classes */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.blur-circle-shape {
  position: absolute;
  top: -125px;
  left: -125px;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background: var(--green-400);
  z-index: 0;
  filter: blur(250px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  --tw-bg-opacity: 1;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity));
  
}



